body {
  margin: 0;
  padding: 0;
  background: #2c5d2c;
}
body .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 4rem;
}
body .container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .container form {
  width: 33%;
}